html,body
{
	
	background-image: url('https://butovskiy.github.io/First-website/img/2.1.jpg');
	font-size: 15px;
	font-family: Century Gothic;
	flex-basis: 100%;
	margin: 0;
	padding: 0;
	/*width: 100%;*/
	
}

.contaner
{
	display: flex;
	flex-direction: column;
}

header
{
	display: flex;
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	height: 120px;
	margin-bottom: 40px;
	/*margin: 0 auto;
	/*padding-top: 10px;*/
}


.cap
{
	display: flex;
	width: 50%;
	/*justify-content: center;*/
	margin: 0 auto;
	/*background-color: blue;*/
	/*height: 100px;*/
	/*background-color: blue;*/
	
	/*width: 960px;*/
}

.logo
{

	/*float: left;*/
	width: 120px;
	height: 120px;
	align-items: center;
	/*background-color: red;*/
}

#name-header
{
	display: flex;
	align-items: center;
	color: gray;
	font-weight: bold;
	font-size: 25px;
	/*padding-top: 50px;*/
	/*margin-top: 40px;*/
	/*background-color: red;*/
}

nav
{
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	font-weight: bold;
	width: 50%;
	/*background-color: blue;*/
	/*display: block;*/
	/*width: 960px;*/
	/*text-align: center;*/
	/*margin: auto;*/
	/*margin-bottom: 30px;*/
}

nav a
{
	color: gray;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}

nav a:hover
{
	color: #f2683a;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
	padding-bottom: 2px;
	border-bottom: 2px solid #f2683a;
	/*text-decoration: none;*/
}

.content
{
	padding: 10px;
	margin: 0 auto;
	/*width: 960px;*/
	width: 50%;
	font-size: 15px;
}

a
{
	text-decoration: none;
	color: #f2683a;
}

a:hover
{
	color: gray;
}


.tab
{
	display: flex;
	order: 2;
	flex-basis: 50%;
	justify-content: center;
	margin: 20px;
}

table
{
	color: gray;
	padding: 15px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	margin-bottom: 30px;
}

td 
{
	padding: 10px;
}

.form
{
	display: flex;
	order: 1;
	/*margin: 0 auto;*/
	justify-content: center;
	flex-basis: 50%;
	margin: 20px;
}

form
{
	color: gray;
	margin: 0 auto;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 35px;
	padding-top: 10px;
	width: 300px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

input
{
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid transparent;
}

input:hover
{
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid #f2683a;
}
select
{
	padding: 10px;
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid transparent;
	height: 80px;
}

textarea
{
	padding: 10px;
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid transparent;
}

#bot 
{
	color: gray;
	margin-top: 10px;
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid gray;
}

#bot:hover
{
	color: #f2683a;
	margin-top: 10px;
	font-family: Century Gothic;
	background-color: transparent;
	border: 2px solid #f2683a;
}

footer
{
	margin-top: 30px;
	background-color: white;
	padding-left: 50px;
	color: gray;
	font-weight: bold;
	flex-basis: 100%;
	/*width: 100%;*/
	height: 60px;
	padding-top: 50px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}